<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .active{
            background-color:#ddd;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="搜索" v-model="searchText">
        <input type="button" value="搜索" v-on:click="search">       
        <div>
            <input type="text" placeholder="名称" v-model="name"><input type="number" placeholder="价格" v-model="price"><input type="button" @click="add"  value="添加">
        </div>
       
   
        <table>
            <thead>
                <th>选择</th>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr v-for="(val,index) in products" v-bind:class="{active:val.isSel}" v-on:click="val.isSel=!val.isSelq" v-bind:key="index">
                    <td><input type="checkbox" v-model="checkArr" v-bind:value="val.id"></td>
                    <td>{{val.name}}</td>
                    <td>{{val.price}}</td>
                    <td><input type="button" value="删除" @click="delSel(val.id)"></td>
                </tr>
            </tbody>
        </table>      
        <div>
            <button>删除选中</button>
            <span>价格：{{sum}}</span>
        </div>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                name:'',
                price:0,
                nowId:"5",
                searchText:"",
                products:[
                    {
                        id:'1',
                        name:"衣服",
                        price:123,
                        isSel:false,
                    },
                    {
                        id:'2',
                        name:"裤子",
                        price:"456",
                        isSel:false
                    },
                    {
                        id:'3',
                        name:"鞋子",
                        price:234,
                        isSel:false
                    },
                    {
                        id:'4',
                        name:"帽子",
                        price:147,
                        isSel:false
                    },
                    {
                        id:'5',
                        name:"手套",
                        price:101,
                        isSel:false
                    }
                ]
            },
            methods:{
                delSel(id){
                    var arr = [];
                    arr = this.products.filter(function(val,index,arr){
                        if(val.id != id)
                        return arr;                    
                    })
                    this.products = arr;
                },
                add(){
                    let obj = {
                        id:++this.nowId,
                        name:this.name,
                        price:this.price,
                        isSel:false
                    }
                    this.products.push(obj)
                },
                search(){
                    let _this = this;
                    let arr = [];
                    arr = this.products.filter(function(val,index){
                        if(val.name.includes(_this.searchText)){
                            return val;
                        }
                    })
                    this.products = arr;
                }
        
            },
            computed:{
                sum(){
                    let sumNum = 0;
                    this.products.forEach(function(val,index){
                        if(val.isSel){
                        sumNum+=val.price;
                        }
                    })
                    return sumNum;
                },
                checkArr(){
                    let arr = [];
                    this.products.forEach(function(val,index){
                        if(val.isSel){
                            arr.push(val.id)
                        }
                    })
                    return arr;
                }
            }
            
        })
    </script>
</body>
</html>