#top{
    text-align: center;
    background: #eee5da;
}

.top-img{
    display: block;
    margin: 0 auto;
}

#header {
    background: #FF0036;
    height: 34px;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.30);
}

#login-info{
    float: left;
    height: 34px;
}
#login-info a{
    margin-left: 9px;
}
#sn-quick-menu{
    float: right;
    height: 34px;
}

#sn-quick-menu > li{
    float: left;
    padding: 0 16px;
    cursor: pointer;
    position: relative;
}

#sn-quick-menu li:hover a{
    color: #f2f222;
}

#header a{
    font-size: 12px;
    color: #eeeeee;
}

#login-info span {
    font-size: 12px;
    color: #eeeeee;
}

#login-info a:hover{
    color: #f2f222;
}

#sn-quick-menu .triangle{
    border-style: solid;
    border-width: 0 1px;
    border-color: transparent transparent transparent transparent;
}
#sn-quick-menu .triangle:hover{
    background: #ffffff;
    border-color:  transparent #eeeeee transparent #eeeeee;
}
#sn-quick-menu .triangle:hover a{
    color: #f2f222;
    text-decoration: underline;
}

#sn-quick-menu .split {
    width: 1px;
    height: 14px;
    background: #eeeeee;
    margin: 9px 0 0 14px;
    padding: 0;
}


#sn-quick-menu .triangle::after{
    content: '';
    width: 0;
    border-width: 3px;
    border-style: solid;
    border-top-color:#f2f222 ;
    border-left-color:transparent ;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top:50%;
    right: 4px;
}
#sn-quick-menu .triangle:hover::after{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform-origin: 3px 1.5px;
    -moz-transform-origin: 3px 1.5px;
    -ms-transform-origin: 3px 1.5px;
    -o-transform-origin: 3px 1.5px;
    transform-origin: 3px 1.5px;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    /*-ms-transition: transform .5s ease;*/
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}
#sn-quick-menu .triangle .submenu{
    position: absolute;
    top: 32px;
    left: -1px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #eeeeee;
    background: #ffffff;
    padding: 0 14px;
    display: none;
    width: 74px;
}
#sn-quick-menu .triangle a:hover{
    color: #eeeeee;
}
#sn-quick-menu .triangle:hover .submenu{
    display: block;
}

#sn-quick-menu .sn-qrcode{
    width: 175px;
    height: 175px;
    position: absolute;
    background: #0000ff;
    top: 30px;
    left: -36px;
    display: none;
}
#sn-quick-menu .sn-qrcode::after{
    content: '';
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0000ff transparent;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: -10px;
}
#sn-quick-menu .mobile:hover .sn-qrcode{
    display: block;
}
#logo-search .top-gif{
    /*margin-top: px;*/
    float: left;
}
#logo-search{
    background: #FF0036;
    height: 134.44px;
}
#search{
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}
#search{
    /*margin-left: 290px;*/
    /*float: left;*/
    /*margin-top: 38px;*/
}

#search form{
    width: 408px;
    height: 36px;
    border-style: solid;
    border-color: #cccccc;

}
#search .input{
    width: 276px;
    height: 36px;
    outline: none;
    border: none;
    font-size: 16px;
    /* input文本缩进 */
    text-indent: 20px;
}
#search .search-btn{
    width: 132px;
    height: 36px;
    float: right;
    /*字距离*/
    font-size: 16px;
    letter-spacing: 5px;
}
#search .hot{
    float: left;
    margin-top: 10px;
    padding: 0 10px;
    border-right: solid 1px #cccccc;
}
#search .hot a{
    color: #cccccc;
}
#search .hot1 a{
    color: #f2f222;
}
#search .last{
    border: 0;
}
#main-nav .nav li{
    float: left;
}

/*#sn-quick-menu .triangle:hover{*/
/*background: #ffffff;*/
/*cursor: pointer;*/
/*}*/

/*}*/
/*#login-info a{*/
    /*color: #fff;*/
/*}*/
/*#sn-quick-menu a{*/
    /*padding: 0 10px;*/
    /*color: #fff;*/
/*}*/
/*#login-info a:hover{*/
    /*color: #f2f222;*/
/*}*/
/*#sn-quick-menu a:hover{*/
    /*color: #f2f222;*/
/*}*/
/*#sn-quick-menu .split{*/
    /*width: 1px;*/
    /*height: 14px;*/
    /*margin-top: 9px ;*/
    /*background: #fff;*/
    /*padding: 0;*/
    /*margin-left: 5px;*/
/*}*/



/*#sn-quick-menu .triangle{*/
    /*width: 0;*/
    /*border-width: 3px;*/
    /*border-style:solid;*/
    /*border-color: #bbb transparent transparent  transparent;*/

/*}*/



















