.box {
  color: "blue";
}

.box .box {
  width: 200px;
}

.div1 {
  background-color: "blue";
}

.div1-content {
  width: 100px;
  height: 100px;
}

.clearfix {
  color: black;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
