$color:'blue';
.box{
    color:$color;
    .box{
        width: 200px;
    }
}

.div1{
    background-color:$color;
    &-content{
        width: 100px;
        height: 100px;
    }
}
.clearfix{
    color:black;
    &::after{
        content:"";
        display: block;
        clear:both;
    }
}

@mixin name($w:10px,$h:20px) {
   
    width: $w;
    height: $h;
    color: #000;
  }
.div11{
    @include name(300px,200px);
}
.div12{
    @include name(1px);
}
.div13{
    width: 111px;
    height: 222px;
    background-color: #fff;
  }
  .div14{
    font-size: 10px;
    @extend .div13
  }
  