#top{
    text-align: center;
    background: #3b38d2;

}
.top-img{
    display: block;
    margin: 0 auto;
}
#header{
    height: 32px;
    background: #f2f2f2;
    line-height: 32px;
}

#login-info{
    float: left;
}
#quick-menu{
    float: right;
}
#quick-menu > li{
    float: left;
    margin-right:14px;
}
#quick-menu .iconfont{
    color: red;
}
#header a:hover{
    color: red;
}
#quick-menu .split{
    width: 1px;
    height: 14px;
    background: #cccccc;
    margin-top: 9px;
}
.submenu {
    display: none;
}

/*#menu .submenu li {*/
/*cursor: pointer;*/
/*}*/

#menu .submenu li:hover {
    background: orange;
}

#menu > li:hover .submenu {
    display: block;
}

