
.topbar{
    height: 40px;
    background-color: #333333;
}
.topbar-nav li{
    text-align: center;
    line-height: 40px;
    color: #b0b0b0;;
    float: left;
    font-size: 12px;
}
.top-nav span{
    float: left;
}
.topbar .topbar-info{
    float: right;
}
.topbar .topbar-info li{
    float: left;
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px;
}