
.top-container{
    background-color:#333333;
}
.topbar{
    height: 40px;
    background-color: #333333;
}
.topbar a{
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #b0b0b0;
    font-size: 12px;
}
.topbar span{
    color: #b0b0b0;
    margin: 0 .5em;
    font-size: 12px;
    line-height: 40px;
}
.topbar .topbar-info{
    float: right;
    margin-top: -40px;
}


.header{
    height: 100px;
    position: relative;
}
.header .header-logo{
    position: absolute;
    left: 0;
    top: 0;
    margin: 22px;
}
.header .header-img{
    width: 55px;
    height: 55px;
    background-color:red;
    text-align: center;
    line-height: 55px;
}
.header .header-nav{
    position: absolute;
    left: 20%;
    padding: 12px 0 0 30px;
}
.header .header-nav li{
    float: left;
    padding: 26px 10px 38px;
}
.header li a{
    color: #333333;
}
.header .search{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.header .search .search-text{
    width: 296px;
    height: 50px;
}


.home-container{
    height: 460px;
}
.home-container .weapper{
    position: relative;
}
.home-container .home-category{
    height: 460px;
    width: 234px;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}
.home-container .home-category .category-list{
    background: rgba(0,0,0,0.6);
    height: 460px;
}
.home-container .home-category li{
    padding-top: 25px;
    padding-left: 26px;
}
.home-container .category-list a{
    color: #ffffff;
    font-size: 14px;
}
.home-container .img-container{
    width: 100%;
    /* position: relative; */
    overflow: hidden;
}
.home-container .img-container .imgs-con{
    width: 100%;
    position: relative;
}
.home-container .img-container .home-imgs{
    width: 5000px;
}
.home-container .home-imgs img{
    width: 1226px;
    height:460px;
}
.home-container .home-imgs div{
    float: left;
}
.home-container .home-imgs .img-lefft{
    position: absolute;
    top: 50%;
    left: 0px;
}

