<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(val,index) in arr">index:{{index}} 
                value{{val}}</li>
        </ul>
        <ol>
            <li v-for="(val,key) in obj">key:{{key}}
                value:{{val}}
            </li>
        </ol>
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                arr:[1,2,3,4,5],
                obj:{
                    name:"zs",
                    school:"NEAU",
                    sex:"man"
                }
            }
        })
    </script>
</body>
</html>