*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
html{
    font-size: 62.5% !important;
}
body{
    background-color: #f7f7f7;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

@media(min-width:1025px){
    .nav{
        width: 30%;
        position: fixed;
        top: 0;
        left: 0;
        bottom:0;
    }
    .overlay{
        width: 30%;
    }
}
@media(min-width:641px) and(max-width:1024px){
    .nav{
        width:100%;
    }
    .nav .btn-bar{
        margin-bottom: 20px;
    }
    .overlay{
        right: 0;
    }
}

.nav{
    background-color:#fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
}
.nav .header{
    padding: 24px;
}
.nav .logo{
    float: left;
}
.nav .primary li{
    float: left;
    font-size: 1.6rem;
    padding: 5px 10px 5px;
    font-weight: 700;
}
.nav .icon{
    float: right;
    margin-top: 5px;
}
.nav .logo img{
    width: 36px;
}

.nav .content{
    height: 100%;
}
.nav .body{
    height: calc(100% - 98px);
    display: table;
}

.nav .body .container{
    padding:  0 24px 0 84px;
    display:table-cell;
    vertical-align:middle;
}
.nav .body .bc-text{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.nav .btn-bar span{
    font-size: 1.6rem;
    font-weight: 400;
    color: #00A862;
}
.nav .sign-in img{
    vertical-align: middle;
    margin-top: -2px;
}
.nav .body .register{
    margin-left: 20px;
}
.nav .content{
    display: none;
}

.overlay{
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    transition: all .3s ease;
}
/* .overlay.active{
    visibility: visible;
    opacity: 1;
} */
.overlay .no-header{
    padding: 24px;
}
.overlay .no-header .logo{
    float: left;
}
  .overlay .no-header .close{
    float: right;
    background: url('https://www.starbucks.com.cn/assets/icons/icon-close.svg');
    width: 48px;
    height: 48px;
    background-repeat:no-repeat;
    border: 0;
    outline: none;
    background-position: center;
    margin: -12px; 
}
.no-content{
    display: table;
    height: calc(100% - 98px);
    width: 100%;
/*     transform: scale(1.2);
    transition: all .1s ease; */
  }
.overlay.active .no-centent{
    transform: scale(1);
}
.overlay .no-centent .noc-body{
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding:  0 24px 0 84px;
    height:100%;
}